{include file="common/header"/}

    <div class="container-fluid">
      <div class="row">
        {include file="common/left"/}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>操作员名称</th>
                  <th>header</th>
                  <th>header</th>
                  <th>header</th>
                </tr>
              </thead>
              <tbody>              
              {volist name='myadmins' id='myadmin'}
                <tr>
                  <td>{$myadmin.id}</td>
                  <td>{$myadmin.admin}</td>
                  <td>暂留</td>
                  <td>
                  <form action="{:url('admin/modify')}">
                  		<input name='id' value={$myadmin.id} class='hidden'>
                  		<button>修改</button>
                  	</form>
				  </td>                  
                  <td>
  					{if condition="$myadmin['id'] neq 1"}    					          
                  	<form action="{:url('admin/delete')}">
                  		<input name='id' value={$myadmin.id} class='hidden'>
                  		<button>删除</button>
                  	</form>
					{/if}
                  </td>
                  
                </tr>
              {/volist}
              {$myadmins->render()}
              </tbody>           
            </table>          
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
