<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/index/css/blog.css" rel="stylesheet">

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <div style="float:left">
          <a class="blog-nav-item active" href="{:url('index/index')}">首页</a>
          <a class="blog-nav-item" href="{:url('index/index')}?q=php">php</a>
          <a class="blog-nav-item" href="{:url('index/index')}?q=python">python</a>
          <a class="blog-nav-item" href="{:url('index/index')}?q=html">html/css</a>
          <a class="blog-nav-item" href="{:url('index/index')}?q=javascript">javascript</a>
          <a class="blog-nav-item" href="{:url('index/index')}?q=mysql">mysql</a>
          </div>
          <div style="float:right;">
          {if condition="$Request.session.name neq ''"}  
          	<a class="blog-nav-item" href="#" style="text-align:right;">{$Request.session.name}</a>
          	<a class="blog-nav-item" href="{:url('User/logout')}" style="text-align:right">注销</a>
          {else/}
          <a class="blog-nav-item" href="{:url('User/regist')}" style="text-align:right;">注册</a>
          <a class="blog-nav-item" href="{:url('User/login')}" style="text-align:right">登录</a>
          {/if}
          </div>
        </nav>
      </div>
    </div>