		<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{:url('admin/adminlist')}">操作员列表 <span class="sr-only">(current)</span></a></li>
            <li><a href="{:url('admin/add')}">添加管理员</a></li>
            <li><a href="{:url('article/add')}">添加文章</a></li>
            <li><a href="{:url('article/articlelist')}" >文章列表</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">暂留</a></li>
            <li><a href="">暂留</a></li>
            <li><a href="">暂留</a></li>
            <li><a href="">暂留</a></li>
            <li><a href="">暂留</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">暂留</a></li>
            <li><a href="">暂留</a></li>
            <li><a href="">暂留</a></li>
          </ul>
        </div>