{include file="common/header"/}
<div class="container">
    <div class="row">
    {include file="common/left"/}
    <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-2 main" >
      <h3 class="form-signin-heading">目前标签</h2>
	  <div>
	  	{volist name='cates' id = 'cate'}
	  		{$cate.cate}
	  	{/volist}
	  </div>	
      <form class="form-signin" action="{:url('cate/add')}" method="post" enctype="multipart/form-data">
      	<h3 class="form-signin-heading">添加标签</h2>
      	<input type="text"  name="cate" class="form-control"  required  >
      	<br/>
      	<button class="btn btn-lg btn-primary btn-block" type="submit">添加</button>  
      </form>
    </div> <!-- /container -->
    </div>
</div>
  </body>
</html>
