{include file="common/header"/}
<div class="container-fluid">
   <div class="row" style="width:400px">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <form class="form-signin" action="{:url('user/regist')}" method="post">
        <h2 class="form-signin-heading">注册</h2>
        <label for="inputText" >名称</label>
        <input type="text" id="" name="user" class="form-control" placeholder="user name" required autofocus>
        <label for="inputPassword" >密码</label>
        <input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Password" required>
        <label for="inputPassword" >确认密码</label>
        <input type="password" id="inputPassword" name="password2" class="form-control" placeholder="Password" required>
        <label for="inputPassword" >邮箱</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="email" required>
        <br/>
        输入验证码：<input type='text' class='text' name='code'><br/>
        <img src="{:captcha_src()}" atl='captcha' onclick="this.src='{:captcha_src()}'">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">添加</button>
      </form>
    </div> <!-- /container -->
    </div>
</div>

{include file="common/footer"}
